/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
     padding: 0;
     margin: 0;
    color: white;
}
body{
  background-color: #0b011d;
}
.headerContainer{
      display: flex;
      justify-content: space-around;
      box-shadow: .5px .5px 0px .5px #B81FFF;
}
.headerContainer .logotext{
      font-size: large;
      font-size: 72px;
      background: -webkit-linear-gradient(  #eee, #390085);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: capitalize;
}
ul{
      display: flex;
      justify-content: space-evenly;
      list-style: none;
}
.headerContainer li {
      margin: 20px;
}
.headerContainer a {
       text-decoration: none;
       color: white;
       text-transform: capitalize;
       font-size: x-large;
}
a:active {
      background-color: #8D00EB;
      padding: 10px;
      
}

.backgroundTExt{
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20rem;
  top:18rem;
  z-index: -1;
  opacity: 0.2;
  text-align: center;
}
