/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
     padding: 0;
     margin: 0;
     color: white;
}
 body{
  background-color: #0b011d;
 }
.headerContainer{
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: .5px .5px 0px .5px #B81FFF;
}

.headerContainer .logotext{
      font-size: large;
      font-size: 72px;
      background: -webkit-linear-gradient(  #eee, #390085);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: capitalize;
}
 .UL{
      display: flex;
      justify-content: space-evenly;
      list-style: none;
}
.headerContainer #pcLink {
      margin: 20px;
}
.headerContainer .headerLink {
       text-decoration: none;
       color: white;
       text-transform: capitalize;
       font-size: x-large;
}
.headerLink:active {
      background-color: #8D00EB;
      padding: 10px;
}
 .mobileNavlinks {
   display: none;
 }
 #menuBtn{
   padding: 15px;
   border: none;
   background-color: #0b011d;
   display: none;
 }

.textContainer{
  position: relative;
  margin: 40px;

   animation-name: slideText;
  animation-duration: 5s;
  animation-direction: alternate;
}

@keyframes  slideText {
  0%{transform: translateX(-450px);} 
}
.span1{
  display: block;
  font-size: 2rem;
  text-transform: capitalize;
  font-family: sans-serif;
  line-height: 70px;
}
img{
  height: 400px;
  width: 300px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
  top: 50px;
  right: 30px;
  
   animation-name: slideImg; 
  animation-duration: 5s;
  /* animation-iteration-count: infinite; */
  animation-direction: alternate;
}

@keyframes  slideImg {
   0%{transform: translateX(-30px);} 
  0%{transform: translateX(450px);}
} 

.flex{
  display: flex;
  justify-content: space-evenly;
}
.cvBtn{
   width: 200px;
   padding: 10px;
   background-color: #8121D0;
   border: none;
   outline: none;
   margin-top: 20px;
   font-size: 1rem;
   text-transform: capitalize;
   letter-spacing: 3px;
   border-radius: 15px;
   

   animation-name: pulseBtn;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}
@keyframes pulseBtn {
  0% {transform: translateY(40);}
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-70);}
}
.cvLink{
  text-decoration: none;
}
.footer{
    background-color: #1d09427a;
   display: flex;
   justify-content: space-around;
   padding: 50px;
   margin-top: 50px;
}
.footerText1{
  font-size: large;
  font-size: 30px;
  background: -webkit-linear-gradient(  #eee, #390085);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}
.contP{
   text-align: center;
   font-size: large;
  font-size: 30px;
}
  #footerLink{
  display: block;
  margin: 30px;
  text-decoration: none;
  font-size: x-large;
  text-transform: capitalize;
}
/* medi query */
@media only screen and (max-width:768px) {
   
 #menuBtn{
  padding: 15px;
  border: none;
  background-color: #0b011d;
  display: block;
}
 .UL{
  display: none;
 }
 .MobileUL{
  display: block;
  list-style: none;
  text-align: center;
  margin: 20px;
 }
  .mobileLink{
    padding: 20px;
   display: none;
  }
  #link{
    text-decoration: none;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: x-large;
  }
  .flex{
     flex-wrap: wrap;
  }
  .textContainer{
     text-align: center;
     font-size: 1rem;
  }
  
  .footer{
     flex-wrap: wrap;
     margin-top: 90px;
  }
  .outterC{
    margin-top: 30px;
  }
  .span1{
     line-height: 60px;
  }
 img {
    margin-left: 60px;
  }
}